<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!--타임리프-->
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'안녕 ' + ${data}" >안녕하세요. 손님</p> <!--ssr타면 값 들어감-->
</body>
</html>